@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    --dark: #212738;
    --light: #EDF2EF;
    --primary:  #D1D646;
    --secondary: #57C4E5;
}

body {
    margin: 0;
    background: linear-gradient(135deg, rgb(252, 252, 252) 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, rgb(252, 252, 252) 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, rgb(252, 252, 252) 25%, transparent 25%),
        linear-gradient(45deg, rgb(252, 252, 252) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: white;
}

.screen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background: var(--light);
    width: 400px;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 1em;
} 


h1 {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    text-align: left;
    margin: 0;
}

.small {
    font-size: 0.8rem;
}

.game-status-display {
    display: flex;
    justify-content: space-between;
}

.scoreboard {
    background: var(--primary);
    border-radius: 10px;
    padding: 0.5em;
    margin: 0 0.3em;
    width: 70px;
}

.scoreboard p {
    margin: 0;
}

.score-title {
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    border-bottom: 1px solid var(--dark);
}

.score-num {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 0.7;
    padding-top: 0.2em;
}

.question-container {
    background: var(--light);
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 20px #ccc;
}

.answers-container {
    background: var(--dark);
    padding: 0.7em;
    border-radius: 10px;
}

.flag {
    padding: 3em;
    height: 150px;
}

.answer-button {
    color: var(--light);
    margin-bottom: 0.5em;
    display: block;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 0.2em;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    transition: all 200ms;
}

.answer-button:last-child {
    margin-bottom: 0;
}

.answer-button:hover {
    cursor: pointer;
    font-weight: 500;
    background: var(--primary);
    color: var(--dark)
}

.answer-button:disabled {
    cursor: not-allowed;
    font-weight: normal;
    background: transparent;
    color: var(--light);
}

.btn {
    margin: 1em;
    border-radius: 10px;
    border: none;
    background: var(--primary);
    color: var(--dark);
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 900;
    padding: 0.6em 1em;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 200ms;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn:disabled {
    cursor: not-allowed;
    transform: none;
    opacity: 0.7;
}

.next {
    width: 30%;
}